<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mprlab.portal.guitartest">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
    <application android:label="Guitar test" />
    <instrumentation android:name=".GuitarTest" android:targetPackage="com.mprlab.portal" />
</manifest>
